/*================ PROJECTS ================*/

#projects {
    padding: 100px 8%;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 35px;
}

.project-card {
    background: var(--parchment);
    border: 3px solid var(--gold);
    border-radius: 18px;
    padding: 30px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 12px 25px rgba(0, 0, 0, .15);

    /* Initial animation state */
    opacity: 0;
    transform: perspective(900px) rotateY(-18deg) rotateZ(-4deg) scale(.75) translateY(80px);
    transition: transform .9s cubic-bezier(.22, 1, .36, 1), opacity .9s ease, box-shadow .4s ease;
}

.project-card.show {
    opacity: 1;
    transform: perspective(900px) rotateY(0) rotateZ(0) scale(1) translateY(0);
}

.project-card::before {
    content: "";
    position: absolute;
    inset: 12px;
    border: 2px dashed rgba(199, 154, 46, .5);
    pointer-events: none;
}

.project-card:hover {
    transform: perspective(900px) rotateY(6deg) rotateX(4deg) scale(1.04) translateY(-10px);
    box-shadow: 0 0 20px rgba(255, 215, 90, .45), 0 20px 40px rgba(0, 0, 0, .25);
}

.project-card::after{
    content:"✨";
    position:absolute;
    top:18px;
    right:20px;
    font-size:22px;
    opacity:0;
    transform:scale(.3) rotate(-40deg);
    transition:.8s;
}

.project-card.show::after{
    opacity:1;
    transform:scale(1.4) rotate(0deg);
}


.project-card h3 {
    color: var(--maroon);
    margin: 10px;
    font-family: "Cinzel Decorative", serif;
}

.project-card p {
    color: var(--ink);
    line-height: 1.8;
    margin-bottom: 22px;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 25px;
}

.tech-stack span {
    background: var(--gold);
    color: var(--maroon-deep);
    padding: 7px 14px;
    border-radius: 20px;
    font-size: .85rem;
    font-weight: 600;
}

.project-btns {
    display: flex;
    gap: 15px;
}

.project-btns a {
    flex: 1;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    border-radius: 10px;
    background: var(--maroon);
    color: var(--parchment);
    transition: .35s;
}

.project-btns a:last-child {
    background: transparent;
    color: var(--maroon);
    border: 2px solid var(--maroon);
}

.project-btns a:hover {
    background: var(--gold);
    color: var(--maroon-deep);
}